/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/* Button Actions */
/* #js-start-btn {
}

#js-next-btn {
}

#js-restart-btn {
} */
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

@media screen and (max-width: 1920px) {
  .circle {
    height: 400px;
    border-radius: 50%;
    border: 11px solid black;
  }

  img:hover {
    transform: scale(1.05);
  }

  #answer,
  #btnAnswer {
    display: inline-block;
  }

  #correct-img {
    border-radius: 50%;
    border: 2px solid black;
    height: 300px;
    width: 300px;
  }

  #rick-intro {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 34px;
    color: white;
    text-shadow: 5px 5px 10px #97ce4c;
  }

  #intro-info {
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-left: 90px;
    color: white;
    text-shadow: 5px 5px 10px #97ce4c;
    font-family: 'Lacquer', sans-serif;
  }

  #intro-info h2 {
    margin-bottom: 35px;
  }

  #intro-info h2 {
    font-size: 27px;
  }

  #schwift {
    margin-top: 2%;
  }

  #next-question {
    display: none;
  }

  #js-start-btn {
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 20px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Lacquer', sans-serif;
  }

  #js-start-btn:hover {
    transition-duration: 0.4s;
    background-color: red;
  }

  .outer-box-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .inner-box-question {
    height: 500px;
    width: 800px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .outer-box-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .inner-box-answers {
    height: 500px;
    width: 700px;
    margin-top: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .question-score-list,
  li {
    display: inline;
  }

  .question-score-list,
  ul {
    text-align: center;
    margin-right: 40px;
  }

  .question-list {
    text-align: center;
    margin-bottom: 10px;
  }

  .question-list-form {
    padding-left: 32%;
  }

  #submit-button-list {
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 20px 45px;
    font-size: 18px;
    font-family: 'Lacquer', sans-serif;
    margin-top: 20px;
  }

  #submit-button-list:hover {
    transition-duration: 0.4s;
    background-color: red;
  }

  .outer-score-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .inner-score-div {
    width: 400px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
  }

  #go-back-btn {
    display: flex;
    justify-content: center;
  }

  body {
    color: white;
    text-shadow: 5px 5px 10px #97ce4c;
    font-family: 'Lacquer', sans-serif;
    background-image: url('./Images/mortybackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    padding: 0;
  }
}
